importFrom(magrittr,"%>%")
importFrom(Rcpp,evalCpp)
useDynLib(data.vcf)

export(open_file, close_file)
export(read_lines)

export(open_vcf)
export(read_vars)
S3method(close, vcf)

export(opendb)
export(indexdb)
export(fetchdb)
S3method(close, gds.db)
S3method(print, gds.db)
